@charset "UTF-8";
/* Variáveis - Cores */
/* Variáveis Tamanhos de Fontes */
/* Outros Elementos */
/* Botões */
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img, picture {
  max-width: 100%;
  display: block;
}

/* Estilização Global */
body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  background-color: hsl(36, 100%, 99%);
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 11.53vw 24.37vw 1.915vw 24.37vw 1.915vw 24.37vw 11.53vw;
  grid-template-rows: 12.85vw 20.83vw 1.875vw 12.638vw 5.138vw 8.75vw 9.03vw;
  grid-template-areas: ". header header header header header ." ". section-1 section-1 section-1 . section-4 ." ". . . . . section-4 ." ". section-2 . section-3 . section-4 ." ". . . . . . ." ". section-5 . section-6 . section-7 ." ". . . . . . .";
}

.header {
  grid-area: header;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.44vw;
}
.nav__logo {
  width: 4.44vw;
  align-self: flex-end;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1vw;
}
.nav__a {
  font-weight: 600;
  letter-spacing: 0.083vw;
  word-spacing: 0.083vw;
  align-self: center;
  color: hsl(236, 13%, 42%);
  padding-left: 3.33vw;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.nav__a:hover, .nav__a:focus {
  color: hsl(35, 77%, 62%);
}
.nav__hamburguer {
  display: none;
}
.nav__opacidade {
  display: none;
}

.main {
  display: contents;
}

.section-1 {
  grid-area: section-1;
}
.section-1__imagem--mobile {
  display: none;
}

.section-2 {
  grid-area: section-2;
}
.section-2__titulo {
  font-size: clamp(2.5rem, 4vw, 10vw);
  line-height: 1.2;
  margin-top: 0;
}

.section-3 {
  grid-area: section-3;
}
.section-3__paragrafo {
  font-size: clamp(0.9rem, 1vw, 2.2vw);
  color: hsl(236, 13%, 42%);
  margin-top: 0;
  word-spacing: 0.083vw;
  line-height: 1.65;
}
.section-3__button {
  text-transform: uppercase;
  font-size: clamp(1rem, 0.88vw, 1.77vw);
  font-weight: 600;
  letter-spacing: 0.166vw;
  word-spacing: 0.166vw;
  padding: clamp(1rem, 0.9vw, 1.33vw) clamp(2rem, 2.1vw, 3.88vw);
  border: none;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  transition: all 0.3s ease-in-out;
  margin-top: 3.33vw;
}
.section-3__button:hover, .section-3__button:focus {
  background-color: hsl(240, 100%, 5%);
}

.section-4 {
  grid-area: section-4;
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 100%, 5%);
  padding: 2.22vw;
}
.section-4__article {
  border-bottom: thin solid hsl(233, 8%, 79%);
}
.section-4__article:last-child {
  border-bottom: none;
}
.section-4__subtitulo--h2 {
  font-size: clamp(2rem, 2.8vw, 6.66vw);
  color: hsl(35, 77%, 62%);
  margin-top: -0.55vw;
  margin-bottom: 1.66vw;
}
.section-4__subtitulo--h3 {
  font-size: clamp(1.2rem, 1.4vw, 4vw);
  color: hsl(36, 100%, 99%);
  transition: color 0.3s ease-in-out;
  margin-top: 1.11vw;
}
.section-4__subtitulo--h3:hover, .section-4__subtitulo--h3:focus {
  color: hsl(35, 77%, 62%);
  transition: color 0.3s ease-in-out;
}
.section-4__paragrafo {
  font-size: clamp(0.9rem, 1vw, 2.2vw);
  font-weight: 300;
  color: hsl(233, 8%, 79%);
  margin-top: 0;
  margin-bottom: 1.66vw;
}

.section-5 {
  grid-area: section-5;
}

.section-6 {
  grid-area: section-6;
}

.section-7 {
  grid-area: section-7;
}

.numerada {
  height: 8.75vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.numerada__imagem {
  max-height: 8.75vw;
  padding-right: 1.11vw;
}
.numerada__numero {
  font-size: clamp(2rem, 2.2vw, 6.66vw);
  color: hsl(233, 8%, 79%);
  margin: -0.83vw 0vw;
  transition: color 0.3s ease-in-out;
}
.numerada__numero:hover, .numerada__numero:focus {
  color: hsl(236, 13%, 42%);
}
.numerada__subtitulo--h3 {
  font-size: clamp(1rem, 1.2vw, 4vw);
  color: hsl(240, 100%, 5%);
  margin-bottom: -0.83vw;
  padding-top: 0;
  padding-bottom: 0;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.numerada__subtitulo--h3:hover, .numerada__subtitulo--h3:focus {
  color: hsl(35, 77%, 62%);
}
.numerada__paragrafo {
  font-size: clamp(0.9rem, 1vw, 2.2vw);
  font-weight: 400;
  color: hsl(236, 13%, 42%);
}

@media only screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 92vw;
    grid-template-rows: 23.47vw 80vw 37.33vw 69.33vw 130.13vw 17.33vw 33.6vw 9.87vw 33.6vw 9.87vw 33.6vw 21.6vw;
    grid-template-areas: "header" "section-1" "section-2" "section-3" "section-4" "." "section-5" "." "section-6" "." "section-7" ".";
    margin: 0vw 4vw;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8vw;
    /* Menu Off Screen */
    /* Menu Hamburguer */
  }
  .nav__logo {
    width: 12vw;
    align-self: flex-end;
  }
  .nav__menu {
    position: fixed;
    right: -68.8vw;
    flex-direction: column;
    width: 68.8vw;
    height: 160vh;
    padding-top: 90vh;
    background-color: hsl(36, 100%, 99%);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  .nav__menu.active {
    right: 0;
  }
  .nav__opacidade {
    display: block;
    position: fixed;
    right: -100vw;
    width: 100vw;
    height: 200vh;
    background-color: hsl(240, 100%, 5%);
    opacity: 0.5;
  }
  .nav__opacidade.active {
    right: 0;
  }
  .nav__li {
    text-align: left;
    font-size: 1.1rem;
    padding: 0.75rem 0rem;
    width: 75vw;
    padding-left: 1rem;
  }
  .nav__a {
    font-weight: 400;
    letter-spacing: 0.083vw;
    word-spacing: 0.083vw;
    color: hsl(240, 100%, 5%);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }
  .nav__a:hover, .nav__a:focus {
    color: hsl(35, 77%, 62%);
  }
  .nav__hamburguer {
    display: block;
    z-index: 2;
    cursor: pointer;
  }
  .nav__hamburguer--bar {
    display: block;
    width: 40px;
    height: 3px;
    background-color: hsl(240, 100%, 5%);
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
  }
  .nav__hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburguer.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .nav__hamburguer.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(135deg);
  }
  .section-1__imagem--mobile {
    display: block;
  }
  .section-1__imagem--desktop {
    display: none;
  }
  .section-2 {
    grid-area: section-2;
  }
  .section-2__titulo {
    font-size: clamp(2.5rem, 4vw, 10vw);
    font-weight: 800;
    line-height: 1;
    margin-top: 1.5rem;
  }
  .section-3__paragrafo {
    margin-top: 1.5rem;
  }
  .section-3__button {
    font-weight: 400;
    margin-top: 1.5rem;
  }
  .section-4 {
    padding: 0rem 1.5rem;
  }
  .section-4__article {
    border-bottom: thin solid hsl(233, 8%, 79%);
  }
  .section-4__article:last-child {
    border-bottom: none;
  }
  .section-4__subtitulo--h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .section-4__subtitulo--h3 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }
  .section-4__paragrafo {
    margin-bottom: 1.5rem;
  }
  .numerada {
    height: 33.6vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .numerada__imagem {
    max-height: 33.6vw;
    padding-right: 1.5rem;
  }
  .numerada__numero {
    margin: -0.5rem 0rem -1rem 0rem;
  }
  .numerada__subtitulo--h3 {
    margin-bottom: -1rem;
  }
}/*# sourceMappingURL=styles.css.map */